:host {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.container {
  display: flex;
}

igx-icon {
  vertical-align: middle;
  color: white!important;
  &:hover {
    color: yellow!important;
    cursor: pointer;
    &.remove {
      color: red!important;
    }
  }
}

