<igx-grid [data]="data" [width]="'60%'" [height]="'400px'" [emptyGridTemplate]="loader" [displayDensity]="'compact'">
    <igx-column field="Ticker" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="Price" [formatter]="formatValue" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="% change(3m)" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="% change(15m)" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="% change(1h)" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="% change(4h)" dataType="number" [sortable]="true"></igx-column>
</igx-grid>

<ng-template #loader>
    <div class="sample-wrapper" *ngIf="loading">
        <section class="sample-content">
            <article class="sample-column">
                <div class="circular-container">
                    <igx-circular-bar [animate]="false" [indeterminate]="true" text="Loading..."></igx-circular-bar>
                </div>
            </article>
        </section>
    </div>
    <div class="sample-wrapper" *ngIf="!loading">
            <section class="sample-content">
                <article class="sample-column">
                    <div class="circular-container">
                        <span>No coins match the criteria. Another check will be made in {{ timer }} seconds.</span>
                    </div>
                </article>
            </section>
        </div>
</ng-template>