@import '~minireset.css/minireset';
@import "~igniteui-angular/lib/core/styles/themes/index";

$primary: #fff !default;
$secondary: #1c83e4 !default;
$dark-blue-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);

.dark-theme {
  background: #333;
  color: #1c83e4;

  @include igx-dark-theme($dark-blue-palette);
  
}

html {
  height: 100%;
  body {
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}