<button (click)="form.open()" igxButton="raised" igxRipple="white">Add Filter</button>
<igx-dialog #form title="Filter"
    leftButtonLabel="Cancel"
    (onLeftButtonSelect)="form.close()"
    (onRightButtonSelect)="addFilter()"
    rightButtonLabel="Add"
    [closeOnOutsideSelect]="false"
    width="'400px'"
    >
    <form class="filter-form" [formGroup]="filterForm">
        <igx-radio-group name="type" formControlName="type">
            <igx-radio name="FilterType" [value]="FilterType.price">{{FilterType.price}}</igx-radio>
            <igx-radio name="FilterType" [value]="FilterType.volume">{{FilterType.volume}}</igx-radio>
        </igx-radio-group>
        
        <ng-container *ngIf="filterForm.value.type === FilterType.price">
            <span class="filter-form-header">Price Change</span>
            <igx-radio-group name="type" formControlName="comparison">
                <igx-radio [value]="ComparisonType.lessOrEqual" name="ComparisonType">{{ComparisonType.lessOrEqual}}</igx-radio>
                <igx-radio [value]="ComparisonType.moreOrEqual" name="ComparisonType">{{ComparisonType.moreOrEqual}}</igx-radio>
            </igx-radio-group>
            <ng-container *ngIf="filterForm.value.comparison != null">
                <igx-input-group>   
                    <igx-prefix>to</igx-prefix>      
                        <input igxInput name="percentage" formControlName="percentage" type="number" required/>
                    <igx-suffix>%</igx-suffix>
                </igx-input-group>
                <span class="filter-form-header">In the past</span>
                <igx-input-group>
                    <input igxInput name="interval" type="number" formControlName="interval" required/>
                </igx-input-group>
                Minute(s)
            </ng-container>
           
        </ng-container>
        <ng-container *ngIf="filterForm.value.type === FilterType.volume">
            <span class="filter-form-header">Volume change</span>
            <igx-radio-group name="type" formControlName="comparison">
                <igx-radio [value]="ComparisonType.lessOrEqual" name="ComparisonType">{{ComparisonType.lessOrEqual}}</igx-radio>
                <igx-radio [value]="ComparisonType.moreOrEqual" name="ComparisonType">{{ComparisonType.moreOrEqual}}</igx-radio>
            </igx-radio-group>
            <ng-container *ngIf="filterForm.value.comparison != null">
                <igx-input-group>   
                    <igx-prefix>to</igx-prefix>      
                        <input igxInput name="percentage" formControlName="percentage" type="number" required/>
                    <igx-suffix>% of Daily Volume</igx-suffix>
                </igx-input-group>
                <span class="filter-form-header">In the past</span>
                <igx-input-group>
                    <input igxInput name="interval" type="number" formControlName="interval" required/>
                </igx-input-group>
                Minute(s)
            </ng-container>
        </ng-container>
    </form>
</igx-dialog>